doctype html
html
  head
    title no cheaters allowed!
    meta(charset='utf-8')
    link(rel='stylesheet' href='static/css/pcheck.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='/static/js/diff.min.js')
    script(src='/static/js/pcheck.js')
  body
    #title
      h1 brian's plagiarism checker
      p based off of kevin decker's #[a(href='https://github.com/kpdecker/jsdiff') jsdiff] script
    #checker
        .col
          form(id="pcheck1")
            input(type='file' name='file1' id='file1')
            label(for='file1')
            #filedrag 
              p drop file 1 here!
        .col
          form(id="pcheck2")
            label(for='file2')
            input(type='file' name='file2' id='file2')
            #filedrag
              p drop file 2 here!

