doctype html
html
  head
  meta(charset='utf-8')
  link(rel='stylesheet' href='/static/css/validate.css')
  title about the validator
  body
    #title
      h1 brian's unified validator
      a(href="/validate") (back to the validator)
    #about
      h2 about the validator
      p this is a unified validator for HTML5 &amp; CSS3, combining the #[a(href='https://validator.nu') validator.nu] service with a local server-side CSS validator (currently adapted from #[a(href='https://github.com/CSSLint/csslint') CSSLint]) to allow for rapid validation of HTML and CSS files.
      p this is primarily built for use in an education setting, particularly for grading. drag and drop a file, and the page will turn a color corresponding with whether or not the file is validated or not. if there are errors or warnings, they will be displayed.
      p it's simple, it's efficient, it loads and validates in under a second under any reasonable connection, and it's here to help! &#x1F64C;
      p contact me at #[a(href='mailto:brian@bclindner.com') brian@bclindner.com] if you have questions, feature requests, bugs to report, etc.
