doctype html
html
  head
    title Drag 'n Drop!
    meta(charset='utf-8')
    link(rel='stylesheet' href='static/css/main.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='static/js/validate.js')
  body
    header
      h1#title brian's validator
    form#dndvalidator
      input(type='file' name='file' id='file')
      label(for='file')
      div#filedrag.ready
        p#filename
        p#dragcontent drag html/css here
        div#errors
