<!DOCTYPE html>
<html>
<head>
<title>Drag 'n Drop!</title>
<meta charset="utf-8">
<link rel="stylesheet" href="main.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="validate.js"></script>
</head>
<body>
  <form id="dndvalidator">
  <input type="file" name="file" id="file" />
  <label for="file">
  <div id="filedrag" class="ready">
    <p id="filename"></p>
    <p id="dragcontent">drag html/css here</p>
    <div id="errors"></div>
  </div>
  </label>
  </form>
</body>
</html>
