doctype html
html
  head
    title no cheating!
    meta(charset='utf-8')
    link(rel='stylesheet' href='static/css/dnd.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='static/js/diff.min.js')
    script(src='static/js/pcheck.js')
  body
    div#title
      h1 brian's plagiarism checker
      div#filelist
        select#list1(name='list1')
        select#list2(name='list2')
    form#dnd
      div#options
        label
          span diff method
          br
          select(name='methods' id='methods')
            option(value='chars' selected) character
            option(value='words') word
            option(value='lines') line
      input(type='file' name='file' id='file')
      label(for='file')
      div#filedrag.ready
        p#filename
        p#dragcontent drop a file here
          div.details
            pre#diff
