body{
  font-family: sans-serif;
  background-color: #eee;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#file{
  display: none;
}
#filedrag{
  width: 100%;
  text-align: center;
  height: 100vh;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s;
  font: 200% sans-serif;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin: 0;

}
#about{
  width: 50%;
  padding: 5%;
  text-align: left;
  background-color: #ccc;
  margin: auto;
}
.ready{
  background-color: #eee;
}
.success{
  background-color: rgb(0,158,115);
}
.warn{
  background-color: #ffe92b;
}
.fail{
  background-color: rgb(213,94,0);
}
#errors{
  text-align: left;
  font: 50% monospace;
  height: 240px;
  width: 50%;
  max-width: 800px;
  background-color: #eee;
  overflow-y: scroll;
}
.ready > #errors, .success > #errors{
  display: none;
}
.error{
  margin: 4px;
  padding: 4px;
  background-color: rgb(213,94,0);
}
.warning{
  margin: 4px;
  padding: 4px;
  background-color: #f7ea7b;
}
#title{
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
}
#title > h1 {
  margin: 8px;
}
#filename{
font-size: 50%;
margin: 8px;
}
#dragcontent{
  margin-top: 8px;
}
#options{
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
  z-index: 2;
}
