doctype html
html
  head
    title bclindner!
    //- meta settings
    meta(charset='utf-8')
    meta(name='description', content="Professional Web site of Brian C. Lindner.")
    meta(name='keyboards', content='bclindner,html,css,js,javascript,node,webdev,web development,hire me pls')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //- main CSS
    link(rel='stylesheet', href='static/css/main.css')
    //- hero images
    link(rel='stylesheet', href='static/css/hero.css')
  body
    //- site header and navigation
    .wrap
      header
        h2.title bclindner
      nav
        ul
          li: a(href='/') home
          li: a(href='/about') about
          li: a(href='/projects') projects
          li: a(href='/blog') blog
      .clear.pad
      //- main site content container
      div.grid-1.hero.hero-home
        h1.hero-text Title
      main
        article
          section
            .g.grid-4-6
              h3 Subtitle: section subtitle
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pretium lacus elit, eu volutpat neque vulputate sit amet. Curabitur molestie purus libero, in ultricies purus volutpat mattis. Aliquam quis suscipit ipsum. Mauris molestie nec dolor vel accumsan. Donec et consequat urna. Praesent accumsan imperdiet diam, quis varius enim tincidunt a. Morbi quis iaculis felis, at viverra ipsum. Maecenas ac quam faucibus, molestie dolor at, scelerisque purus.
            aside.g.grid-2-6
              h3 Subtitle: aside Subtitle
              p Integer imperdiet sem at nisl vulputate, et efficitur risus molestie. Suspendisse dictum ex et nisi tempus venenatis. Curabitur semper accumsan sem id tempor. Maecenas in tortor egestas, suscipit mauris volutpat, venenatis mauris. Curabitur condimentum tortor in purus placerat blandit. Quisque rutrum magna non venenatis egestas. Nulla sollicitudin eu libero non vehicula. Proin euismod ante nec vestibulum cursus.
          p Quisque a posuere est. Nullam luctus metus nunc, ut rutrum ligula mattis at. Vestibulum ullamcorper urna sit amet nisi ornare hendrerit. Sed a nulla blandit, suscipit felis ut, fermentum ex. Morbi odio odio, auctor at dolor at, ultricies vulputate ipsum. Maecenas bibendum, sem quis consectetur feugiat, massa dui hendrerit lectus, in tincidunt lacus sem vitae erat. Curabitur pharetra maximus enim, congue ultrices dui vulputate a. Phasellus vitae tincidunt enim, ut pellentesque magna. Ut pellentesque turpis sed sem fermentum porttitor. Sed sed ante sapien. Nullam ornare nec lorem nec luctus. Duis quis laoreet tellus. Phasellus congue metus venenatis tempor rutrum. Phasellus maximus pharetra malesuada. Vestibulum vel dapibus est. Aliquam tincidunt interdum ornare.
          p Aliquam ac arcu porttitor risus fermentum sagittis sit amet nec turpis. Mauris vel nibh imperdiet, pharetra velit id, posuere dui. Aliquam nec risus in elit sollicitudin tempus. Aliquam erat volutpat. Praesent egestas urna id arcu luctus, ut tempus lacus eleifend. Aliquam ipsum ligula, luctus a cursus ac, cursus ut dolor. Quisque dapibus, diam non dapibus consequat, nunc libero vulputate tellus, a dapibus ipsum ante ut risus. Donec non varius ante. Morbi porta scelerisque felis eu porta. Nulla facilisi. Phasellus accumsan ultricies odio, vitae blandit quam mollis eget. Sed faucibus velit quis elit vehicula, non pulvinar nisl pellentesque. Donec urna arcu, mattis quis nisi sed, consectetur egestas felis. Duis non pulvinar libero.
          p Praesent nec nibh maximus, sagittis purus ac, mattis odio. Sed gravida vel quam a suscipit. Morbi at dignissim leo. Ut et rhoncus odio, varius hendrerit sapien. In pretium, nisl eget dapibus semper, justo quam dictum elit, varius euismod est velit quis ex. Ut semper in orci et lacinia. Nullam non maximus mi, nec ullamcorper orci. Nulla facilisi. Mauris dapibus vitae nunc at facilisis. Sed eros nunc, iaculis vel libero placerat, auctor vehicula metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin vulputate ante quam, ac hendrerit enim convallis a. Sed massa eros, dapibus at elementum eu, rhoncus sed elit. Integer euismod eget nisi a pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pretium lacus elit, eu volutpat neque vulputate sit amet. Curabitur molestie purus libero, in ultricies purus volutpat mattis. Aliquam quis suscipit ipsum. Mauris molestie nec dolor vel accumsan. Donec et consequat urna. Praesent accumsan imperdiet diam, quis varius enim tincidunt a. Morbi quis iaculis felis, at viverra ipsum. Maecenas ac quam faucibus, molestie dolor at, scelerisque purus.
          p Integer imperdiet sem at nisl vulputate, et efficitur risus molestie. Suspendisse dictum ex et nisi tempus venenatis. Curabitur semper accumsan sem id tempor. Maecenas in tortor egestas, suscipit mauris volutpat, venenatis mauris. Curabitur condimentum tortor in purus placerat blandit. Quisque rutrum magna non venenatis egestas. Nulla sollicitudin eu libero non vehicula. Proin euismod ante nec vestibulum cursus.
          p Quisque a posuere est. Nullam luctus metus nunc, ut rutrum ligula mattis at. Vestibulum ullamcorper urna sit amet nisi ornare hendrerit. Sed a nulla blandit, suscipit felis ut, fermentum ex. Morbi odio odio, auctor at dolor at, ultricies vulputate ipsum. Maecenas bibendum, sem quis consectetur feugiat, massa dui hendrerit lectus, in tincidunt lacus sem vitae erat. Curabitur pharetra maximus enim, congue ultrices dui vulputate a. Phasellus vitae tincidunt enim, ut pellentesque magna. Ut pellentesque turpis sed sem fermentum porttitor. Sed sed ante sapien. Nullam ornare nec lorem nec luctus. Duis quis laoreet tellus. Phasellus congue metus venenatis tempor rutrum. Phasellus maximus pharetra malesuada. Vestibulum vel dapibus est. Aliquam tincidunt interdum ornare.
          p Aliquam ac arcu porttitor risus fermentum sagittis sit amet nec turpis. Mauris vel nibh imperdiet, pharetra velit id, posuere dui. Aliquam nec risus in elit sollicitudin tempus. Aliquam erat volutpat. Praesent egestas urna id arcu luctus, ut tempus lacus eleifend. Aliquam ipsum ligula, luctus a cursus ac, cursus ut dolor. Quisque dapibus, diam non dapibus consequat, nunc libero vulputate tellus, a dapibus ipsum ante ut risus. Donec non varius ante. Morbi porta scelerisque felis eu porta. Nulla facilisi. Phasellus accumsan ultricies odio, vitae blandit quam mollis eget. Sed faucibus velit quis elit vehicula, non pulvinar nisl pellentesque. Donec urna arcu, mattis quis nisi sed, consectetur egestas felis. Duis non pulvinar libero.
          p Praesent nec nibh maximus, sagittis purus ac, mattis odio. Sed gravida vel quam a suscipit. Morbi at dignissim leo. Ut et rhoncus odio, varius hendrerit sapien. In pretium, nisl eget dapibus semper, justo quam dictum elit, varius euismod est velit quis ex. Ut semper in orci et lacinia. Nullam non maximus mi, nec ullamcorper orci. Nulla facilisi. Mauris dapibus vitae nunc at facilisis. Sed eros nunc, iaculis vel libero placerat, auctor vehicula metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin vulputate ante quam, ac hendrerit enim convallis a. Sed massa eros, dapibus at elementum eu, rhoncus sed elit. Integer euismod eget nisi a pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
