extends ../layout.pug
block content
  .grid-1.hero.hero-home
    h1.hero-text Blog
  main
    each post in posts
      .blog-post
        a(href="blog/" + post.slug)
          h2=post.title
        h5.author=post.author
        h5.date=post.datePosted
        p!=post.preview
      hr
